In [1]:
import pandas as pd
import zipfile as z
import sqlite3
import os

os.getcwd()

'C:\\Users\\Stephen\\Documents\\Coding\\github\\python_codelou'

In [2]:
zf = z.ZipFile("Data/FoodServiceData2020.zip","r")
zf.extractall("Data")
zf.close()

In [3]:
# create the sqlite DB
db = sqlite3.connect("Data/Ratings.db")

# read CSV into dataframe
df1 = pd.read_csv("Data/FoodServiceData2020.csv", header=0)

# convert the pandas dataframe to a sqlite table
df1.to_sql("foodscores", db, if_exists="replace")

def run_query(query):
    return pd.read_sql_query(query,db)

In [4]:
# using os, we delete the big csv, if exists
target_file = "Data/FoodServiceData2020.csv"
  
if os.path.isfile(target_file): 
    os.remove(target_file) 
    print("File deleted") 
else: 
    print(f'"{target_file}" not found')

File deleted

In [5]:
query = """SELECT * FROM sqlite_master ORDER BY name;"""

run_query(query)

,type,name,tbl_name,rootpage,sql
0,table,foodscores,foodscores,2,"CREATE TABLE ""foodscores"" (\n""index"" INTEGER,\..."
1,index,ix_foodscores_index,foodscores,3,"CREATE INDEX ""ix_foodscores_index""ON ""foodscor..."

In [6]:
#  Show entire table

query = """SELECT * FROM foodscores;"""

run_query(query)

,index,EstablishmentID,InspectionID,EstablishmentName,PlaceName,Address,Address2,City,State,Zip,TypeDescription,Latitude,Longitude,InspectionDate,Score,Grade,NameSearch,Intersection
0,0,102736,1472514,KIDS CAFE PARKHILL COMMUNITY CENTER,None,1703 S 13TH ST,None,LOUISVILLE,KY,40210,RETAIL WITH LIMITED SERVICE,38.2243,-85.7769,2019-05-23 00:00:00,98.0,None,KIDS CAFE PARKHILL COMMUNITY CENTER,None
1,1,85040,1475852,WAFFLE HOUSE #174,None,2805 FERN VALLEY RD,None,LOUISVILLE,KY,40213,FOOD SERVICE,38.1572,-85.7123,2019-06-05 00:00:00,85.0,C,WAFFLE HOUSE #174,None
2,2,96242,1475858,PERFECT ANGELS DAYCARE,None,3845 CANE RUN RD,None,LOUISVILLE,KY,40211,FOOD SERVICE (DAY CARE / CHILD CARE CENTER,38.2154,-85.8179,2019-06-05 00:00:00,100.0,A,PERFECT ANGELS DAYCARE,None
3,3,98058,1475878,MORNING POINTE OF LOUISVILLE,None,4711 S HURSTBOURNE PKWY,None,LOUISVILLE,KY,40291,FOOD SERVICE (HOSPITAL / NURSING HOME,38.1837,-85.6068,2019-06-05 00:00:00,93.0,C,MORNING POINTE OF LOUISVILLE,None
4,4,70009,1475882,CRACKER BARREL #522,None,10150 BROOKRIDGE VILLAGE BLVD,None,LOUISVILLE,KY,40291,"RETAIL-FOOD 10,000 SQ FT OR LESS",38.1445,-85.5837,2019-06-05 00:00:00,100.0,None,CRACKER BARREL #522,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9579,9579,96654,1488947,ANOOSH BISTRO,None,4864 BROWNSBORO CENTER,None,LOUISVILLE,KY,40207,FOOD SERVICE,38.2781,-85.6357,2019-07-25 00:00:00,99.0,A,ANOOSH BISTRO,None
9580,9580,94248,1488959,ORIENTAL CAFE,None,3360 HIKES LN,None,LOUISVILLE,KY,40220,FOOD SERVICE,38.2192,-85.6266,2019-07-24 00:00:00,98.0,A,ORIENTAL CAFE,None
9581,9581,108530,1488974,NOCHE MEXICAN BBQ,None,1838 BARDSTOWN RD,None,LOUISVILLE,KY,40205,FOOD SERVICE,38.2274,-85.6999,2019-07-25 00:00:00,96.0,None,NOCHE MEXICAN BBQ,None
9582,9582,106250,1472506,AJI SUSHI,None,5610 OUTER LOOP,None,LOUISVILLE,KY,40219,FOOD SERVICE,38.1385,-85.6563,2019-05-23 00:00:00,98.0,A,AJI SUSHI,None
9583,9583,90727,1472511,HOME GOODS,None,4201 TOWNE CENTER DR,None,LOUISVILLE,KY,40241,PRE-PACKAGED RETAIL,38.2970,-85.5550,2019-05-23 00:00:00,100.0,None,HOME GOODS,None

In [7]:
#  Displaying Organised Dataset with specific columns selected and renamed

query = """
SELECT "EstablishmentID" AS "ID", "EstablishmentName" AS "Business Name",
"Score", "Grade", "Address", "Street" AS "Street", "City", "State", "ZIP", "Latitude", "Longitude"
FROM foodscores;
"""

run_query(query)

,ID,Business Name,Score,Grade,Address,Street,City,State,Zip,Latitude,Longitude
0,102736,KIDS CAFE PARKHILL COMMUNITY CENTER,98.0,None,1703 S 13TH ST,Street,LOUISVILLE,KY,40210,38.2243,-85.7769
1,85040,WAFFLE HOUSE #174,85.0,C,2805 FERN VALLEY RD,Street,LOUISVILLE,KY,40213,38.1572,-85.7123
2,96242,PERFECT ANGELS DAYCARE,100.0,A,3845 CANE RUN RD,Street,LOUISVILLE,KY,40211,38.2154,-85.8179
3,98058,MORNING POINTE OF LOUISVILLE,93.0,C,4711 S HURSTBOURNE PKWY,Street,LOUISVILLE,KY,40291,38.1837,-85.6068
4,70009,CRACKER BARREL #522,100.0,None,10150 BROOKRIDGE VILLAGE BLVD,Street,LOUISVILLE,KY,40291,38.1445,-85.5837
...,...,...,...,...,...,...,...,...,...,...,...
9579,96654,ANOOSH BISTRO,99.0,A,4864 BROWNSBORO CENTER,Street,LOUISVILLE,KY,40207,38.2781,-85.6357
9580,94248,ORIENTAL CAFE,98.0,A,3360 HIKES LN,Street,LOUISVILLE,KY,40220,38.2192,-85.6266
9581,108530,NOCHE MEXICAN BBQ,96.0,None,1838 BARDSTOWN RD,Street,LOUISVILLE,KY,40205,38.2274,-85.6999
9582,106250,AJI SUSHI,98.0,A,5610 OUTER LOOP,Street,LOUISVILLE,KY,40219,38.1385,-85.6563
9583,90727,HOME GOODS,100.0,None,4201 TOWNE CENTER DR,Street,LOUISVILLE,KY,40241,38.2970,-85.5550

In [12]:
# Rerunning above query with WHERE clause to filter out A ratings

query = """
SELECT "EstablishmentID" AS "ID", "EstablishmentName" AS "Business Name",
"Score", "Grade", "Address", "Street" AS "Street", "City", "State", "ZIP", "Latitude", "Longitude"
FROM foodscores WHERE "Grade" = "A";
"""

run_query(query)

,ID,Business Name,Score,Grade,Address,Street,City,State,Zip,Latitude,Longitude
0,96242,PERFECT ANGELS DAYCARE,100.0,A,3845 CANE RUN RD,Street,LOUISVILLE,KY,40211,38.2154,-85.8179
1,100140,VILLE GRILL,96.0,A,2100 S FLOYD ST,Street,LOUISVILLE,KY,40208,38.2178,-85.7556
2,33602,MCDONALD'S #6859,94.0,A,7426 OLD 3RD STREET RD,Street,LOUISVILLE,KY,40214,38.1448,-85.7772
3,102587,DIAMOND STATION,99.0,A,2280 BARDSTOWN RD,Street,LOUISVILLE,KY,40205,38.2240,-85.6915
4,33901,AUDUBON HOSPITAL FOOD SERVICE,99.0,A,1 AUDUBON PLAZA,Street,LOUISVILLE,KY,40217,38.2151,-85.7216
...,...,...,...,...,...,...,...,...,...,...,...
6188,104122,POTBELLY SANDWICH SHOP,100.0,A,302 S 4TH ST,Street,LOUISVILLE,KY,40202,38.2537,-85.7573
6189,99855,NOOSH NOSH,92.0,A,4816 BROWNSBORO CT,Street,LOUISVILLE,KY,40207,38.2777,-85.6391
6190,96654,ANOOSH BISTRO,99.0,A,4864 BROWNSBORO CENTER,Street,LOUISVILLE,KY,40207,38.2781,-85.6357
6191,94248,ORIENTAL CAFE,98.0,A,3360 HIKES LN,Street,LOUISVILLE,KY,40220,38.2192,-85.6266
6192,106250,AJI SUSHI,98.0,A,5610 OUTER LOOP,Street,LOUISVILLE,KY,40219,38.1385,-85.6563

In [14]:
#  Added a filter to target restaurant names e.g. "donald" for McDonalds
#  There are duplicate entries in this table.  Need to eliminate ratings from the same restaurant.

text = "donald"

query = """
SELECT 
"EstablishmentID" AS "ID", "EstablishmentName" AS "Business Name",
"Score", "Grade", "Address", "Street" AS "Street", "City", "State", "ZIP", "Latitude", "Longitude"
FROM foodscores WHERE "Business Name" LIKE "%{}%";
""".format(text)

run_query(query)

,ID,Business Name,Score,Grade,Address,Street,City,State,Zip,Latitude,Longitude
0,33602,MCDONALD'S #6859,94.0,A,7426 OLD 3RD STREET RD,Street,LOUISVILLE,KY,40214,38.1448,-85.77720
1,92610,MCDONALD'S,NaN,None,1245 BARDSTOWN RD,Street,LOUISVILLE,KY,40204,38.1420,-85.43100
2,63553,MCDONALD'S #22895,87.0,C,12414 LAGRANGE RD,Street,LOUISVILLE,KY,40241,38.2902,-85.51110
3,33823,MCDONALD'S,97.0,A,2720 W BROADWAY,Street,LOUISVILLE,KY,40211,38.2490,-85.79790
4,104022,MCDONALD'S #6891,96.0,A,10411 DIXIE HWY,Street,LOUISVILLE,KY,40272,38.1033,-85.86891
...,...,...,...,...,...,...,...,...,...,...,...
175,104320,MCDONALD'S #7359,NaN,None,4940 BROWNSBORO RD,Street,LOUISVILLE,KY,40222,38.2828,-85.62890
176,82543,MCDONALD'S,98.0,A,4306 BARDSTOWN RD,Street,LOUISVILLE,KY,40218,38.1860,-85.63570
177,104032,MCDONALD'S #0258,NaN,None,5600 PRESTON HWY,Street,LOUISVILLE,KY,40219,38.1683,-85.70680
178,82543,MCDONALD'S,NaN,None,4306 BARDSTOWN RD,Street,LOUISVILLE,KY,40218,38.1860,-85.63570
179,93180,MCDONALD'S #35637,100.0,A,12627 TAYLORSVILLE RD,Street,LOUISVILLE,KY,40299,38.1883,-85.51650

In [16]:
# Running a search for duplicate ratings

query = """
SELECT "EstablishmentID" AS "ID", "EstablishmentName" AS "Business Name", COUNT(*)
FROM foodscores GROUP BY "ID", "Business Name" HAVING COUNT(*) > 1
ORDER BY COUNT(*) DESC LIMIT 10;"""

run_query(query)

       ID                          Business Name  COUNT(*)
0   66448                            JADE GARDEN        22
1   85772                      CIRCLE K #4703315        15
2   88166                             SPINELLI'S        13
3  106713                             MCDONALD'S        13
4   78391                      GOOSE CREEK DINER        12
5   89242                           BELLA AIROSA        12
6  104423                                PIC PAC        12
7   92610                             MCDONALD'S        11
8  105483           TIENDA MEXICANA TACO LOCO #2        11
9   31329  ESSEX NURSING & REHABILITATION CENTER        10