In [1]:
import pandas as pd
import zipfile as z
import sqlite3
import os

os.getcwd()

'C:\\Users\\Stephen\\Documents\\Coding\\github\\python_codelou'

In [2]:
zf = z.ZipFile("Data/FoodServiceData2020.zip","r")
zf.extractall("Data")
zf.close()

In [3]:
# create the sqlite DB
db = sqlite3.connect("Data/MyDemo.db")

# read CSV into dataframe
df1 = pd.read_csv("Data/FoodServiceData2020.csv", header=None)

# convert the pandas dataframe to a sqlite table
df1.to_sql("foodscores", db, if_exists="replace")

def run_query(query):
    return pd.read_sql_query(query,db)

In [4]:
# using os, we delete the big csv, if exists
target_file = "Data/FoodServiceData2020.csv"
  
if os.path.isfile(target_file): 
    os.remove(target_file) 
    print("File deleted") 
else: 
    print(f'"{target_file}" not found')

File deleted

In [5]:
query = """SELECT * FROM sqlite_master ORDER BY name;"""
run_query(query)

,type,name,tbl_name,rootpage,sql
0,table,foodscores,foodscores,2,"CREATE TABLE ""foodscores"" (\n""index"" INTEGER,\..."
1,index,ix_foodscores_index,foodscores,3,"CREATE INDEX ""ix_foodscores_index""ON ""foodscor..."

In [6]:
#  Show entire table
query = """SELECT * FROM foodscores;"""
run_query(query)

,index,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0,EstablishmentID,InspectionID,EstablishmentName,PlaceName,Address,Address2,City,State,Zip,TypeDescription,Latitude,Longitude,InspectionDate,Score,Grade,NameSearch,Intersection
1,1,102736,1472514,KIDS CAFE PARKHILL COMMUNITY CENTER,None,1703 S 13TH ST,None,LOUISVILLE,KY,40210,RETAIL WITH LIMITED SERVICE,38.2243000,-85.7769000,2019-05-23 00:00:00,98,None,KIDS CAFE PARKHILL COMMUNITY CENTER,None
2,2,85040,1475852,WAFFLE HOUSE #174,None,2805 FERN VALLEY RD,None,LOUISVILLE,KY,40213,FOOD SERVICE,38.1572000,-85.7123000,2019-06-05 00:00:00,85,C,WAFFLE HOUSE #174,None
3,3,96242,1475858,PERFECT ANGELS DAYCARE,None,3845 CANE RUN RD,None,LOUISVILLE,KY,40211,FOOD SERVICE (DAY CARE / CHILD CARE CENTER,38.2154000,-85.8179000,2019-06-05 00:00:00,100,A,PERFECT ANGELS DAYCARE,None
4,4,98058,1475878,MORNING POINTE OF LOUISVILLE,None,4711 S HURSTBOURNE PKWY,None,LOUISVILLE,KY,40291,FOOD SERVICE (HOSPITAL / NURSING HOME,38.1837000,-85.6068000,2019-06-05 00:00:00,93,C,MORNING POINTE OF LOUISVILLE,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9580,9580,96654,1488947,ANOOSH BISTRO,None,4864 BROWNSBORO CENTER,None,LOUISVILLE,KY,40207,FOOD SERVICE,38.2781000,-85.6357000,2019-07-25 00:00:00,99,A,ANOOSH BISTRO,None
9581,9581,94248,1488959,ORIENTAL CAFE,None,3360 HIKES LN,None,LOUISVILLE,KY,40220,FOOD SERVICE,38.2192000,-85.6266000,2019-07-24 00:00:00,98,A,ORIENTAL CAFE,None
9582,9582,108530,1488974,NOCHE MEXICAN BBQ,None,1838 BARDSTOWN RD,None,LOUISVILLE,KY,40205,FOOD SERVICE,38.2274000,-85.6999000,2019-07-25 00:00:00,96,None,NOCHE MEXICAN BBQ,None
9583,9583,106250,1472506,AJI SUSHI,None,5610 OUTER LOOP,None,LOUISVILLE,KY,40219,FOOD SERVICE,38.1385000,-85.6563000,2019-05-23 00:00:00,98,A,AJI SUSHI,None
9584,9584,90727,1472511,HOME GOODS,None,4201 TOWNE CENTER DR,None,LOUISVILLE,KY,40241,PRE-PACKAGED RETAIL,38.2970000,-85.5550000,2019-05-23 00:00:00,100,None,HOME GOODS,None

In [7]:
#  Displaying Organised Dataset with specific columns selected and renamed

#  NOTE still trying to figure out how to eliminate Row 0
query = """
SELECT "15" AS "Business Name", "13" AS "Score", "14" AS "Grade", "4" AS "Street", "6" AS "City",
"7" AS "State", "8" AS "ZIP", "10" AS "Latitude", "11" AS "Longitude"
FROM foodscores;
"""
run_query(query)

,Business Name,Score,Grade,Street,City,State,ZIP,Latitude,Longitude
0,NameSearch,Score,Grade,Address,City,State,Zip,Latitude,Longitude
1,KIDS CAFE PARKHILL COMMUNITY CENTER,98,None,1703 S 13TH ST,LOUISVILLE,KY,40210,38.2243000,-85.7769000
2,WAFFLE HOUSE #174,85,C,2805 FERN VALLEY RD,LOUISVILLE,KY,40213,38.1572000,-85.7123000
3,PERFECT ANGELS DAYCARE,100,A,3845 CANE RUN RD,LOUISVILLE,KY,40211,38.2154000,-85.8179000
4,MORNING POINTE OF LOUISVILLE,93,C,4711 S HURSTBOURNE PKWY,LOUISVILLE,KY,40291,38.1837000,-85.6068000
...,...,...,...,...,...,...,...,...,...
9580,ANOOSH BISTRO,99,A,4864 BROWNSBORO CENTER,LOUISVILLE,KY,40207,38.2781000,-85.6357000
9581,ORIENTAL CAFE,98,A,3360 HIKES LN,LOUISVILLE,KY,40220,38.2192000,-85.6266000
9582,NOCHE MEXICAN BBQ,96,None,1838 BARDSTOWN RD,LOUISVILLE,KY,40205,38.2274000,-85.6999000
9583,AJI SUSHI,98,A,5610 OUTER LOOP,LOUISVILLE,KY,40219,38.1385000,-85.6563000
9584,HOME GOODS,100,None,4201 TOWNE CENTER DR,LOUISVILLE,KY,40241,38.2970000,-85.5550000

In [8]:
# Rerunning above query with WHERE clause to filter out A ratings
query = """
SELECT "15" AS "Business Name", "13" AS "Score", "14" AS "Grade", "4" AS "Street", "6" AS "City",
"7" AS "State", "8" AS "ZIP", "10" AS "Latitude", "11" AS "Longitude"
FROM foodscores WHERE "14" = "A";
"""
run_query(query)

,Business Name,Score,Grade,Street,City,State,ZIP,Latitude,Longitude
0,PERFECT ANGELS DAYCARE,100,A,3845 CANE RUN RD,LOUISVILLE,KY,40211,38.2154000,-85.8179000
1,VILLE GRILL,96,A,2100 S FLOYD ST,LOUISVILLE,KY,40208,38.2178000,-85.7556000
2,MCDONALD'S #6859,94,A,7426 OLD 3RD STREET RD,LOUISVILLE,KY,40214,38.1448000,-85.7772000
3,DIAMOND STATION,99,A,2280 BARDSTOWN RD,LOUISVILLE,KY,40205,38.2240000,-85.6915000
4,AUDUBON HOSPITAL FOOD SERVICE,99,A,1 AUDUBON PLAZA,LOUISVILLE,KY,40217,38.2151000,-85.7216000
...,...,...,...,...,...,...,...,...,...
6188,POTBELLY SANDWICH SHOP,100,A,302 S 4TH ST,LOUISVILLE,KY,40202,38.2537000,-85.7573000
6189,NOOSH NOSH,92,A,4816 BROWNSBORO CT,LOUISVILLE,KY,40207,38.2777000,-85.6391000
6190,ANOOSH BISTRO,99,A,4864 BROWNSBORO CENTER,LOUISVILLE,KY,40207,38.2781000,-85.6357000
6191,ORIENTAL CAFE,98,A,3360 HIKES LN,LOUISVILLE,KY,40220,38.2192000,-85.6266000
6192,AJI SUSHI,98,A,5610 OUTER LOOP,LOUISVILLE,KY,40219,38.1385000,-85.6563000

In [9]:
#  Added a filter to target restaurant names e.g. "donald" for McDonalds
text = "donald"

query = """
SELECT 
"15" AS "Business Name", "13" AS "Score", "14" AS "Grade", "4" AS "Street", "6" AS "City", 
"7" AS "State", "8" AS "ZIP", "10" AS "Latitude", "11" AS "Longitude"
FROM foodscores WHERE "15" LIKE "%{}%";
""".format(text)
run_query(query)

,Business Name,Score,Grade,Street,City,State,ZIP,Latitude,Longitude
0,MCDONALD'S #6859,94,A,7426 OLD 3RD STREET RD,LOUISVILLE,KY,40214,38.1448000,-85.7772000
1,MCDONALD'S,None,None,1245 BARDSTOWN RD,LOUISVILLE,KY,40204,38.1420000,-85.4310000
2,MCDONALD'S #22895,87,C,12414 LAGRANGE RD,LOUISVILLE,KY,40241,38.2902000,-85.5111000
3,MCDONALD'S,97,A,2720 W BROADWAY,LOUISVILLE,KY,40211,38.2490000,-85.7979000
4,MCDONALD'S #6891,96,A,10411 DIXIE HWY,LOUISVILLE,KY,40272,38.1033000,-85.8689100
...,...,...,...,...,...,...,...,...,...
175,MCDONALD'S #7359,None,None,4940 BROWNSBORO RD,LOUISVILLE,KY,40222,38.2828000,-85.6289000
176,MCDONALD'S,98,A,4306 BARDSTOWN RD,LOUISVILLE,KY,40218,38.1860000,-85.6357000
177,MCDONALD'S #0258,None,None,5600 PRESTON HWY,LOUISVILLE,KY,40219,38.1683000,-85.7068000
178,MCDONALD'S,None,None,4306 BARDSTOWN RD,LOUISVILLE,KY,40218,38.1860000,-85.6357000
179,MCDONALD'S #35637,100,A,12627 TAYLORSVILLE RD,LOUISVILLE,KY,40299,38.1883000,-85.5165000